[
    (
        id: Some("Strawberry"),
        fps: 20.0,
        tile_size: (32.0, 32.0),
        rows: 1,
        columns: 17,
        texture_path: "Items/Fruits/Strawberry.png",
    ),
    (
        id: Some("Bananas"),
        fps: 20.0,
        tile_size: (32.0, 32.0),
        rows: 1,
        columns: 17,
        texture_path: "Items/Fruits/Bananas.png",
    ),
]